GOOGLE_CLOUD_PROJECT=
LOG_LEVEL=INFO
TRIPLETEX_API_KEY=
TRIPLETEX_REQUEST_TIMEOUT=
TRIPLETEX_WHOAMI_FIELDS=
CLOUD_RUN_SERVICE_NAME=
CLOUD_RUN_REGION=

TRIPLETEX_SANDBOX_BASE_URL=
TRIPLETEX_SANDBOX_SESSION_TOKEN=
